<p>
    <strong>Hello!</strong> My name is Celia and I'm a Front-End Web Developer from Oakland, CA. I completed this project from Zyring.com in order to build my portfolio and improve my skills.<Br/><br/>
    <strong>This project required the following skills:</strong> <br/>
    <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>AngularJS</li>
        <li>Bootstrap</li>
        <li>GruntJS</li>
        <li>Bower</li>
        <li>Connecting With Backends</li>
    </ul>
    <a href="https://zyring.com/#/portfolio/celia_deeter">More Details in My Zyring Portfolio</a><Br/><br/>
    <a href="http://celia-deeter.com">My Website Portfolio</a>
    <Br/><br/>
</p>
